#sort-button {
  background: inherit;
  border: 0;
  margin-left: 0.5pxrem;
  color: rgb(94, 83, 83);
}

#sort-button:focus {
  outline: 0px;
}

#table-headings {
  border-top: solid rgb(94, 83, 83) 1px;
  padding-top: 100px;
  border-bottom: solid rgb(94, 83, 83) 4px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
th {
  /* background-color:yellow; */
  padding-bottom: 100px;
}
